PROJECT_NAME=

POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

REDIS_HOST=
REDIS_PORT=

QDRANT_HOST=
QDRANT_HTTP_PORT=

# Language Model (LLM)
LLM_BASE_URL=
LLM_MODEL=
LLM_TIMEOUT=

# Silma Text-to-Speech (TTS)
SILMA_API_KEY=
SILMA_BASE_URL=
SILMA_MODEL_ID=
SILMA_VOICE_ID=

