PROJECT_NAME=

POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

REDIS_HOST=
REDIS_PORT=

QDRANT_HOST=
QDRANT_HTTP_PORT=

POSTGRES_STORAGE=
REDIS_STORAGE=
QDRANT_STORAGE=

# Speech-to-Text (STT)
STT_MODEL=
STT_DEVICE=
STT_COMPUTE_TYPE=
STT_BEAM_SIZE=

# Language Model (LLM)
LLM_BASE_URL=
LLM_MODEL=
LLM_TIMEOUT=